.env
package-lock.json
package.json
src/**
.gitignore
.yarnrc
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
save/**
node_modules
assets/themes.png
releases/**
.vscode/**
.vscode-test/**
.github/
.env*
eslint.config.js
.eslintignore
.eslint*
*.sh
*.bat
assets/**/*
